# Add tests which

In [1]:
import eland as ed

In [2]:
ed_df = ed.DataFrame('localhost', 'flights', columns=["AvgTicketPrice", "Cancelled", "dayOfWeek", "timestamp", "DestCountry"])

In [3]:
# NBVAL_IGNORE_OUTPUT
ed_df.median(numeric_only=None)

AvgTicketPrice                          640.387
Cancelled                                 False
dayOfWeek                                     3
timestamp         2018-01-22 00:05:00.494117676
dtype: object

In [4]:
# NBVAL_IGNORE_OUTPUT
ed_df.median(numeric_only=True)

AvgTicketPrice    640.387285
Cancelled           0.000000
dayOfWeek           3.000000
dtype: float64

In [5]:
# NBVAL_IGNORE_OUTPUT
ed_df.median(numeric_only=False)

AvgTicketPrice                          640.387
Cancelled                                 False
dayOfWeek                                     3
timestamp         2018-01-22 00:05:00.494117676
DestCountry                                 NaN
dtype: object

In [6]:
# NBVAL_IGNORE_OUTPUT
ed_df.mad(numeric_only=None)

AvgTicketPrice    213.430365
dayOfWeek           2.000000
dtype: float64

In [7]:
# NBVAL_IGNORE_OUTPUT
ed_df.mad(numeric_only=True)

AvgTicketPrice    213.430365
dayOfWeek           2.000000
dtype: float64

In [8]:
# NBVAL_IGNORE_OUTPUT
ed_df.mad(numeric_only=False)

AvgTicketPrice    213.43
Cancelled            NaN
dayOfWeek              2
timestamp            NaT
DestCountry          NaN
dtype: object