In [1]:
import pandas as pd
import eland as ed
from elasticsearch import Elasticsearch

In [2]:
es = Elasticsearch()
ed_df = ed.DataFrame('localhost', 'flights', columns = ["AvgTicketPrice", "Cancelled", "dayOfWeek", "timestamp", "DestCountry"])
es.indices.exists(index="churn")

False

In [3]:
# NBVAL_IGNORE_OUTPUT
pd_df = ed.eland_to_pandas(ed_df, show_progress=True)

2020-10-28 22:01:46.397163: read 10000 rows
2020-10-28 22:01:47.100938: read 13059 rows

In [4]:
type(pd_df)

pandas.core.frame.DataFrame

In [5]:
# NBVAL_IGNORE_OUTPUT
ed.csv_to_eland("./test_churn.csv", es_client='localhost', es_dest_index='churn', es_refresh=True, index_col=0)

HBox(children=(HTML(value='Progress'), FloatProgress(value=0.0, max=2.0), HTML(value='')))

,account length,area code,churn,customer service calls,international plan,number vmail messages,phone number,state,total day calls,total day charge,...,total eve calls,total eve charge,total eve minutes,total intl calls,total intl charge,total intl minutes,total night calls,total night charge,total night minutes,voice mail plan
0,128,415,0,1,no,25,382-4657,KS,110,45.07,...,99,16.78,197.4,3,2.7,10.0,91,11.01,244.7,yes
1,107,415,0,1,no,26,371-7191,OH,123,27.47,...,103,16.62,195.5,3,3.7,13.7,103,11.45,254.4,yes

In [6]:
# NBVAL_IGNORE_OUTPUT
es.search(index="churn", size=1)

{'took': 0,
 'timed_out': False,
 '_shards': {'total': 1, 'successful': 1, 'skipped': 0, 'failed': 0},
 'hits': {'total': {'value': 2, 'relation': 'eq'},
  'max_score': 1.0,
  'hits': [{'_index': 'churn',
    '_type': '_doc',
    '_id': '0',
    '_score': 1.0,
    '_source': {'state': 'KS',
     'account length': 128,
     'area code': 415,
     'phone number': '382-4657',
     'international plan': 'no',
     'voice mail plan': 'yes',
     'number vmail messages': 25,
     'total day minutes': 265.1,
     'total day calls': 110,
     'total day charge': 45.07,
     'total eve minutes': 197.4,
     'total eve calls': 99,
     'total eve charge': 16.78,
     'total night minutes': 244.7,
     'total night calls': 91,
     'total night charge': 11.01,
     'total intl minutes': 10.0,
     'total intl calls': 3,
     'total intl charge': 2.7,
     'customer service calls': 1,
     'churn': 0}}]}}

In [7]:
es.indices.delete(index='churn', ignore=[400, 404])

{'acknowledged': True}