# Pandas

In [1]:
import pandas as pd

In [2]:
pd_df = pd.read_json('flights.json.gz', lines=True)

In [3]:
pd_df.head()

,AvgTicketPrice,Cancelled,Carrier,Dest,DestAirportID,DestCityName,DestCountry,DestLocation,DestRegion,DestWeather,...,FlightTimeMin,Origin,OriginAirportID,OriginCityName,OriginCountry,OriginLocation,OriginRegion,OriginWeather,dayOfWeek,timestamp
0,841.265642,False,Kibana Airlines,Sydney Kingsford Smith International Airport,SYD,Sydney,AU,"{'lat': '-33.94609833', 'lon': '151.177002'}",SE-BD,Rain,...,1030.770416,Frankfurt am Main Airport,FRA,Frankfurt am Main,DE,"{'lat': '50.033333', 'lon': '8.570556'}",DE-HE,Sunny,0,2018-01-01 00:00:00
1,882.982662,False,Logstash Airways,Venice Marco Polo Airport,VE05,Venice,IT,"{'lat': '45.505299', 'lon': '12.3519'}",IT-34,Sunny,...,464.389481,Cape Town International Airport,CPT,Cape Town,ZA,"{'lat': '-33.96480179', 'lon': '18.60169983'}",SE-BD,Clear,0,2018-01-01 18:27:00
2,190.636904,False,Logstash Airways,Venice Marco Polo Airport,VE05,Venice,IT,"{'lat': '45.505299', 'lon': '12.3519'}",IT-34,Cloudy,...,0.000000,Venice Marco Polo Airport,VE05,Venice,IT,"{'lat': '45.505299', 'lon': '12.3519'}",IT-34,Rain,0,2018-01-01 17:11:14
3,181.694216,True,Kibana Airlines,Treviso-Sant'Angelo Airport,TV01,Treviso,IT,"{'lat': '45.648399', 'lon': '12.1944'}",IT-34,Clear,...,222.749059,Naples International Airport,NA01,Naples,IT,"{'lat': '40.886002', 'lon': '14.2908'}",IT-72,Thunder & Lightning,0,2018-01-01 10:33:28
4,730.041778,False,Kibana Airlines,Xi'an Xianyang International Airport,XIY,Xi'an,CN,"{'lat': '34.447102', 'lon': '108.751999'}",SE-BD,Clear,...,785.779071,Licenciado Benito Juarez International Airport,AICM,Mexico City,MX,"{'lat': '19.4363', 'lon': '-99.072098'}",MX-DIF,Damaging Wind,0,2018-01-01 05:13:00

In [4]:
pd_df.describe()

,AvgTicketPrice,DistanceKilometers,DistanceMiles,FlightDelayMin,FlightTimeHour,FlightTimeMin,dayOfWeek
count,13059.000000,13059.000000,13059.000000,13059.000000,13059.000000,13059.000000,13059.000000
mean,628.253689,7092.142455,4406.853013,47.335171,8.518797,511.127842,2.835975
std,266.396861,4578.438497,2844.909787,96.746711,5.579233,334.753952,1.939439
min,100.020528,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,409.893816,2459.705673,1528.390247,0.000000,4.205553,252.333192,1.000000
50%,640.556668,7610.330866,4728.840363,0.000000,8.384086,503.045170,3.000000
75%,842.185470,9736.637600,6050.066114,15.000000,12.006934,720.416036,4.000000
max,1199.729053,19881.482315,12353.780369,360.000000,31.715034,1902.902032,6.000000

# Eland

In [5]:
import eland as ed

In [6]:
ed_df = ed.read_es('localhost', 'flights')

In [7]:
ed_df.head()

,AvgTicketPrice,Cancelled,Carrier,Dest,DestAirportID,DestCityName,DestCountry,DestLocation,DestRegion,DestWeather,...,FlightTimeMin,Origin,OriginAirportID,OriginCityName,OriginCountry,OriginLocation,OriginRegion,OriginWeather,dayOfWeek,timestamp
0,841.265642,False,Kibana Airlines,Sydney Kingsford Smith International Airport,SYD,Sydney,AU,"{'lat': '-33.94609833', 'lon': '151.177002'}",SE-BD,Rain,...,1030.770416,Frankfurt am Main Airport,FRA,Frankfurt am Main,DE,"{'lat': '50.033333', 'lon': '8.570556'}",DE-HE,Sunny,0,2018-01-01 00:00:00
1,882.982662,False,Logstash Airways,Venice Marco Polo Airport,VE05,Venice,IT,"{'lat': '45.505299', 'lon': '12.3519'}",IT-34,Sunny,...,464.389481,Cape Town International Airport,CPT,Cape Town,ZA,"{'lat': '-33.96480179', 'lon': '18.60169983'}",SE-BD,Clear,0,2018-01-01 18:27:00
2,190.636904,False,Logstash Airways,Venice Marco Polo Airport,VE05,Venice,IT,"{'lat': '45.505299', 'lon': '12.3519'}",IT-34,Cloudy,...,0.000000,Venice Marco Polo Airport,VE05,Venice,IT,"{'lat': '45.505299', 'lon': '12.3519'}",IT-34,Rain,0,2018-01-01 17:11:14
3,181.694216,True,Kibana Airlines,Treviso-Sant'Angelo Airport,TV01,Treviso,IT,"{'lat': '45.648399', 'lon': '12.1944'}",IT-34,Clear,...,222.749059,Naples International Airport,NA01,Naples,IT,"{'lat': '40.886002', 'lon': '14.2908'}",IT-72,Thunder & Lightning,0,2018-01-01 10:33:28
4,730.041778,False,Kibana Airlines,Xi'an Xianyang International Airport,XIY,Xi'an,CN,"{'lat': '34.447102', 'lon': '108.751999'}",SE-BD,Clear,...,785.779071,Licenciado Benito Juarez International Airport,AICM,Mexico City,MX,"{'lat': '19.4363', 'lon': '-99.072098'}",MX-DIF,Damaging Wind,0,2018-01-01 05:13:00

In [8]:
ed_df.describe()

,AvgTicketPrice,DistanceKilometers,DistanceMiles,FlightDelayMin,FlightTimeHour,FlightTimeMin,dayOfWeek
count,13059.000000,13059.000000,13059.000000,13059.000000,13059.000000,13059.000000,13059.000000
mean,628.253689,7092.142457,4406.853010,47.335171,8.518797,511.127842,2.835975
std,266.386661,4578.263193,2844.800855,96.743006,5.579019,334.741135,1.939365
min,100.020531,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,410.008918,2470.545974,1535.293728,0.000000,4.196217,251.938710,1.000000
50%,640.362667,7612.072403,4729.922470,0.000000,8.385816,503.148975,3.000000
75%,842.254990,9735.660463,6049.459005,13.112245,12.009396,720.534532,4.000000
max,1199.729004,19881.482422,12353.780273,360.000000,31.715034,1902.901978,6.000000

In [9]:
ed_df.shape

(13059, 27)

In [10]:
ed_df.columns

Index(['AvgTicketPrice', 'Cancelled', 'Carrier', 'Dest', 'DestAirportID',
       'DestCityName', 'DestCountry', 'DestLocation', 'DestRegion',
       'DestWeather', 'DistanceKilometers', 'DistanceMiles', 'FlightDelay',
       'FlightDelayMin', 'FlightDelayType', 'FlightNum', 'FlightTimeHour',
       'FlightTimeMin', 'Origin', 'OriginAirportID', 'OriginCityName',
       'OriginCountry', 'OriginLocation', 'OriginRegion', 'OriginWeather',
       'dayOfWeek', 'timestamp'],
      dtype='object')

In [17]:
ed_df.dtypes

AvgTicketPrice               float64
Cancelled                       bool
Carrier                       object
Dest                          object
DestAirportID                 object
DestCityName                  object
DestCountry                   object
DestLocation                  object
DestRegion                    object
DestWeather                   object
DistanceKilometers           float64
DistanceMiles                float64
FlightDelay                     bool
FlightDelayMin                 int64
FlightDelayType               object
FlightNum                     object
FlightTimeHour               float64
FlightTimeMin                float64
Origin                        object
OriginAirportID               object
OriginCityName                object
OriginCountry                 object
OriginLocation                object
OriginRegion                  object
OriginWeather                 object
dayOfWeek                      int64
timestamp             datetime64[ns]
dtype: object

In [12]:
ed_df.info()

<class 'eland.frame.DataFrame'>
RangeIndex: 13059 entries, 0 to 13058
Data columns (total 27 columns):
AvgTicketPrice        13059 non-null float64
Cancelled             13059 non-null bool
Carrier               13059 non-null object
Dest                  13059 non-null object
DestAirportID         13059 non-null object
DestCityName          13059 non-null object
DestCountry           13059 non-null object
DestLocation          13059 non-null object
DestRegion            13059 non-null object
DestWeather           13059 non-null object
DistanceKilometers    13059 non-null float64
DistanceMiles         13059 non-null float64
FlightDelay           13059 non-null bool
FlightDelayMin        13059 non-null int64
FlightDelayType       13059 non-null object
FlightNum             13059 non-null object
FlightTimeHour        13059 non-null float64
FlightTimeMin         13059 non-null float64
Origin                13059 non-null object
OriginAirportID       13059 non-null object
OriginCityName        13059 non-null object
OriginCountry         13059 non-null object
OriginLocation        13059 non-null object
OriginRegion          13059 non-null object
OriginWeather         13059 non-null object
dayOfWeek             13059 non-null int64
timestamp             13059 non-null datetime64[ns]
dtypes: bool(2), datetime64[ns](1), float64(5), int64(2), object(17)
memory usage: 56.0 bytes

In [13]:
ed_df.count()

AvgTicketPrice        13059
Cancelled             13059
Carrier               13059
Dest                  13059
DestAirportID         13059
DestCityName          13059
DestCountry           13059
DestLocation          13059
DestRegion            13059
DestWeather           13059
DistanceKilometers    13059
DistanceMiles         13059
FlightDelay           13059
FlightDelayMin        13059
FlightDelayType       13059
FlightNum             13059
FlightTimeHour        13059
FlightTimeMin         13059
Origin                13059
OriginAirportID       13059
OriginCityName        13059
OriginCountry         13059
OriginLocation        13059
OriginRegion          13059
OriginWeather         13059
dayOfWeek             13059
timestamp             13059
dtype: int64

In [19]:
ed_df.get_dtype_counts()

bool               2
datetime64[ns]     1
float64            5
int64              2
object            17
dtype: int64

In [14]:
ed_df['Carrier', 'Dest', 'OriginRegion']

                Carrier                                               Dest OriginRegion
0       Kibana Airlines       Sydney Kingsford Smith International Airport        DE-HE
1      Logstash Airways                          Venice Marco Polo Airport        SE-BD
2      Logstash Airways                          Venice Marco Polo Airport        IT-34
3       Kibana Airlines                        Treviso-Sant'Angelo Airport        IT-72
4       Kibana Airlines               Xi'an Xianyang International Airport       MX-DIF
5              JetBeats                   Genoa Cristoforo Colombo Airport        CA-AB
6              JetBeats                                     Zurich Airport        CH-ZH
7       Kibana Airlines     Ottawa Macdonald-Cartier International Airport        IT-62
8       Kibana Airlines                 Rajiv Gandhi International Airport        IT-25
9      Logstash Airways                        Treviso-Sant'Angelo Airport       RU-MOS
10             JetBeats                            Helsinki Vantaa Airport        US-NM
11     Logstash Airways                       Vienna International Airport        IT-34
12     Logstash Airways              Shanghai Pudong International Airport       MX-DIF
13     Logstash Airways     Ottawa Macdonald-Cartier International Airport        IT-72
14     Logstash Airways             Luis Munoz Marin International Airport        IT-62
15      Kibana Airlines                               Cologne Bonn Airport        SE-BD
16     Logstash Airways                          Venice Marco Polo Airport       MX-DIF
17               ES-Air           Ministro Pistarini International Airport        US-OH
18               ES-Air              Shanghai Pudong International Airport       RU-MUR
19             JetBeats                Indira Gandhi International Airport        US-WY
20             JetBeats                      Wichita Mid Continent Airport        US-PA
21               ES-Air     Ottawa Macdonald-Cartier International Airport        US-NJ
22             JetBeats                                      Itami Airport        DK-84
23     Logstash Airways                       Vienna International Airport        US-WA
24     Logstash Airways            Charles de Gaulle International Airport        DE-BE
25               ES-Air                       Narita International Airport       GB-ENG
26      Kibana Airlines                                      Itami Airport        FI-ES
27             JetBeats                    San Diego International Airport        US-AZ
28      Kibana Airlines                         Verona Villafranca Airport        SE-BD
29     Logstash Airways                                     Zurich Airport        US-OK
...                 ...                                                ...          ...
13029               NaN                                                NaN          NaN
13030            ES-Air                       Narita International Airport        IT-82
13031   Kibana Airlines                       Narita International Airport        US-KY
13032          JetBeats                      Wichita Mid Continent Airport        US-WA
13033  Logstash Airways                 Sheremetyevo International Airport        US-OR
13034            ES-Air                    El Dorado International Airport        SE-BD
13035          JetBeats                                      Turin Airport        US-NC
13036   Kibana Airlines  Winnipeg / James Armstrong Richardson Internat...        IT-34
13037            ES-Air            Chengdu Shuangliu International Airport        IT-82
13038          JetBeats                    San Diego International Airport        US-NY
13039            ES-Air           Ministro Pistarini International Airport        SE-BD
13040          JetBeats                       Vienna International Airport        CA-ON
13041            ES-Air          Louisville International Standiford Field        IT-25
13042  Logstash Airways     Ottawa Macdonald-Cartier International Airport       GB-ENG
13043   Kibana Airlines              Shanghai Pudong International Airport        SE-BD
13044   Kibana Airlines                                     Zurich Airport        US-FL
13045   Kibana Airlines                            London Heathrow Airport        SE-BD
13046   Kibana Airlines     Ottawa Macdonald-Cartier International Airport       MX-DIF
13047            ES-Air                                 Manchester Airport        SE-BD
13048  Logstash Airways  Comodoro Arturo Merino Benitez International A...        SE-BD
13049   Kibana Airlines                                    Olenya Air Base        SE-BD
13050  Logstash Airways                 Sheremetyevo International Airport        IT-52
13051          JetBeats                Indira Gandhi International Airport        IT-88
13052  Logstash Airways                          Stockholm-Arlanda Airport       GB-ENG
13053   Kibana Airlines                    Rochester International Airport        SE-BD
13054  Logstash Airways                                New Chitose Airport        SE-BD
13055  Logstash Airways                  San Antonio International Airport        SE-BD
13056          JetBeats                                     Zurich Airport        CH-ZH
13057            ES-Air                       Vienna International Airport       RU-AMU
13058   Kibana Airlines                 Rajiv Gandhi International Airport        SE-BD

[13059 rows x 3 columns]

In [15]:
ed_df2 = ed_df['Carrier', 'Dest', 'OriginRegion']

In [16]:
ed_df2.head(10)

,Carrier,Dest,OriginRegion
0,Kibana Airlines,Sydney Kingsford Smith International Airport,DE-HE
1,Logstash Airways,Venice Marco Polo Airport,SE-BD
2,Logstash Airways,Venice Marco Polo Airport,IT-34
3,Kibana Airlines,Treviso-Sant'Angelo Airport,IT-72
4,Kibana Airlines,Xi'an Xianyang International Airport,MX-DIF
5,JetBeats,Genoa Cristoforo Colombo Airport,CA-AB
6,JetBeats,Zurich Airport,CH-ZH
7,Kibana Airlines,Ottawa Macdonald-Cartier International Airport,IT-62
8,Kibana Airlines,Rajiv Gandhi International Airport,IT-25
9,Logstash Airways,Treviso-Sant'Angelo Airport,RU-MOS

In [20]:
ed_df2.info()

<class 'eland.frame.DataFrame'>
RangeIndex: 13059 entries, 0 to 13058
Data columns (total 3 columns):
Carrier         13059 non-null object
Dest            13059 non-null object
OriginRegion    13059 non-null object
dtypes: object(3)
memory usage: 56.0 bytes